@font-face {
  font-family: Roboto;
  src: url("./Fonts/Roboto-Light.ttf");
}

.body_box {
  background: rgb(63, 73, 251);
  background: linear-gradient(
    52deg,
    rgba(63, 73, 251, 1) 0%,
    rgba(72, 116, 180, 1) 41%,
    rgba(206, 71, 76, 1) 68%,
    rgba(252, 70, 92, 1) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto;
}
.comtainer_box {
  width: 800px;
  height: 750px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
}

.input_box {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.input_teg {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  font-size: 15px;
  padding-left: 20px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}
.add_btn {
  font-size: 40px;
  color: rgb(32, 32, 32);
  margin-left: 20px;
}

.add_btn:hover {
  color: #2196f3;
  transition: 0.3s;
}

.input_teg::placeholder {
  color: #a5a3a3;
  font-size: 15px;
}
.items_box {
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.items_teg {
  margin-left: 105px;
  margin-top: 10px;
  height: 50px;
  padding-top: 10px;
  padding-left: 40px;
  width: 400px;
  list-style: none;
}
.items_btn {
  font-size: 35px;
  color: rgb(32, 32, 32);
  margin-left: 53px;
}
.items_btn2 {
  font-size: 35px;
  color: rgb(32, 32, 32);
  margin-left: 30px;
}

.items_btn:hover,
.items_btn2:hover {
  color: #2196f3;
  transition: 0.3s;
}
