.container_box {
  width: 600px;
  height: 650px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
}
.heading_box {
  width: 100%;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.main_box {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.username_password_box {
  width: 100%;
  height: 100px;
}
.username_password {
  width: 200px;
  color: #ffffff;
  font-size: 1.1rem;
  padding-bottom: 20px;
  margin-bottom: 100px;
}
.input_box {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 10px;
}
.input_box::placeholder {
  color: #ffffff;
}
.account_signUp {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  color: #ffffff;
}

.anchor_tag {
  text-decoration: none;
  color: #2196f3;
}
.anchor_tag:hover {
  text-decoration: underline;
}

.button_box {

  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.button_tag {
    width: 100px;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    border:none;
    border-radius: 40px;
    cursor: pointer;
}
.button_tag:hover{
    background-color: #2196f3;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
